version: "3"
services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - VERSION=docker
      - PLEX_CLAIM=${PLEXCLAIM}
    volumes:
      - ${CONFIG}/plex/db:/config
      - ${DATA}/tvseries:/tv
      - ${DATA}/movies:/movies
      - ${DATA}/transcode:/transcode
    restart: unless-stopped
  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIG}/tautulli:/config
    ports:
      - ${TAUTULLI_PORT}:${TAUTULLI_PORT}
    restart: unless-stopped
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIG}/overseerr/appdata/config:/config
    ports:
      - ${OVERSEERR_PORT}:${OVERSEERR_PORT}
    restart: unless-stopped
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIG}/sonarr:/config
      - ${DATA}/tvseries:/tv
    ports:
      - ${SONARR_PORT}:${SONARR_PORT}
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIG}/radarr:/config
      - ${DATA}/movies:/movies
      - ${DATA}/downloads:/downloads
    ports:
      - ${RADARR_PORT}:${RADARR_PORT}
    restart: unless-stopped
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=${QBITTORRENT_PORT_WEB_UI}
    volumes:
      - ${CONFIG}/qbittorent:/config
      - ${DATA}/downloads:/downloads
    ports:
      - ${QBITTORRENT_PORT_WEB_UI}:${QBITTORRENT_PORT_WEB_UI}
      - ${QBITTORRENT_PORT}:${QBITTORRENT_PORT}
      - ${QBITTORRENT_PORT}:${QBITTORRENT_PORT}/udp
    restart: unless-stopped
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - AUTO_UPDATE=true
    volumes:
      - ${CONFIG}/jackett:/config
      - ${DATA}/downloads:/downloads
    ports:
      - ${JACKETT_PORT}:${JACKETT_PORT}
    restart: unless-stopped
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=${TZ}
    ports:
      - "${PORT:-8191}:8191"
    restart: unless-stopped
  wizarr:
    container_name: wizarr
    image: ghcr.io/wizarrrr/wizarr:latest
    ports:
      - ${WIZARR_PORT}:${WIZARR_PORT}
    volumes:
      - ${CONFIG}/wizarr/database:/data/database
